.search{
	display: flex;
	align-items: center;
	background: var(--body-bg-color);
	border-radius: 40px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	padding: 16px 32px;
	margin: 0 65px;
	input{
		background: var(--body-bg-color);
		color: var(--body-text1-color);
		width: 100%;
		border: none;
		outline: none;
		border-radius: 40px;
		font-weight: 400;
		font-size: 20px;
		line-height: 128.52%;
	}
	input::placeholder{
		color: var(--body-text1-color);
	}
	.search-icon{
		display: flex;
		align-items:center;
		justify-content: center;
		cursor: pointer;
		svg{
			path{
				fill: var(--body-text1-color);
			}
		}
	}
}